<div *ngIf="waiting" class="position-fixed z-3 bg-body-secondary bg-opacity-50 w-100" style="height: 100%">
  <div class="d-flex justify-content-center align-items-center w-100" style="height: 100%">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>

<div class="d-grid mx-auto">
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
            alt="Sample image" />
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Đăng ký bằng</p>
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="bi bi-facebook"></i>
              </button>

              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="bi bi-google"></i>
              </button>

              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="bi bi-github"></i>
              </button>
            </div>

            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">hoặc</p>
            </div>

            <div class="mb-4 w-100">
              <input type="text" class="form-control"
                [class.is-invalid]="displayName.invalid && (displayName.dirty || displayName.touched)" id="displayName"
                formControlName="displayName" placeholder="Tên hiển thị">
              <small *ngIf="displayName.invalid && (displayName.dirty || displayName.touched)" class="text-danger">
                <div *ngIf="displayName.errors?.['required']">Tên hiển thị không được để trống</div>
                <div *ngIf="displayName.errors?.['minlength']">Tên hiển thị phải chứa ít nhất {{
                  displayName.errors?.['minlength'].requiredLength }} kí tự</div>
              </small>
            </div>
            <div class="mb-4 w-100">
              <input type="text" class="form-control"
                [class.is-invalid]="username.invalid && (username.dirty || username.touched)" id="username"
                formControlName="username" placeholder="Tên đăng nhập">
              <small *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
                <div *ngIf="username.errors?.['exists']">Tên đăng nhập đã tồn tại</div>
                <div *ngIf="username.errors?.['required']">Tên đăng nhập không được để trống</div>
                <div *ngIf="username.errors?.['minlength']">Tên đăng nhập phải chứa ít nhất {{
                  username.errors?.['minlength'].requiredLength }} kí tự</div>
              </small>
            </div>
            <div class="mb-4 w-100">
              <input type="password" class="form-control"
                [class.is-invalid]="password.invalid && (password.dirty || password.touched)" id="password"
                formControlName="password" placeholder="Mật khẩu">
              <small *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                <div *ngIf="password.errors?.['required']">Mật khẩu không được để trống</div>
                <div *ngIf="password.errors?.['minlength']">Mật khẩu phải chứa ít nhất {{
                  password.errors?.['minlength'].requiredLength }} kí tự</div>
              </small>
            </div>
            <div class="mb-4 w-100">
              <input type="password" class="form-control"
                [class.is-invalid]="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) || (password.value !== confirmPassword.value && (confirmPassword.dirty || confirmPassword.touched) && (password.dirty || password.touched))"
                id="confirmPassword" formControlName="confirmPassword" placeholder="Nhập lại mật khẩu">
              <small
                *ngIf="(confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)) || (password.value !== confirmPassword.value && (confirmPassword.dirty || confirmPassword.touched) && (password.dirty || password.touched))"
                class="text-danger">
                <div *ngIf="confirmPassword.errors?.['required']">Không được bỏ trống trường này</div>
                <div *ngIf="registerForm.errors?.['notMatch']"> Mật khẩu không khớp</div>
              </small>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input" type="checkbox" id="agreement" [value]="false"
                formControlName="agreement">
                <label class="form-check-label" for="agreement">
                  Đồng ý với điều khoản và dịch vụ
                </label>
              </div>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem"
                [disabled]="registerForm.invalid || !agreement.value">
                Đăng ký
              </button>
              <p class="fw-bold mt-2 pt-1 mb-0">
                Đã có tài khoản
                <a routerLink="/login" class="text-decoration-none">Đăng nhập</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>