input.ng-invalid.ng-touched {
  border-color: #dc3545 !important;
}

#form2Example3 {
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}

a {
  cursor: pointer;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
