<div *ngIf="waiting" class="position-fixed z-3 bg-body-secondary bg-opacity-50 w-100" style="height: 100%">
  <div class="d-flex justify-content-center align-items-center w-100" style="height: 100%">
      <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
      </div>
  </div>
</div>

<div class="d-grid mx-auto">
  <section class="vh-100">
      <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-md-9 col-lg-6 col-xl-5">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                      class="img-fluid" alt="Sample image" />
              </div>
              <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                  <form [formGroup]="loginForm" (ngSubmit)="login()" id="loginForm">
                      <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                          <p class="lead fw-normal mb-0 me-3">Đăng nhập với</p>
                          <button type="button" class="btn btn-primary btn-floating mx-1">
                              <i class="bi bi-facebook"></i>
                          </button>

                          <button type="button" class="btn btn-primary btn-floating mx-1">
                              <i class="bi bi-google"></i>
                          </button>

                          <button type="button" class="btn btn-primary btn-floating mx-1">
                              <i class="bi bi-github"></i>
                          </button>
                      </div>

                      <div class="divider d-flex align-items-center my-4">
                          <p class="text-center fw-bold mx-3 mb-0">hoặc</p>
                      </div>
                      <div class="mb-4 w-100">
                          <!-- Email input -->
                          <input type="text" class="form-control" formControlName="username"
                              aria-describedby="helpUsernameId" placeholder="Tên đăng nhập">
                          <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
                              <div *ngIf="username.errors?.['required']">
                                  <small id="helpUsernameId">Tên đăng nhập không được bỏ trống</small>
                              </div>
                              <div *ngIf="username.errors?.['minlength']">
                                  <small id="helpUsernameId">Tên đăng nhập phải chứa ít nhất {{
                                      username.errors?.['minlength'].requiredLength }} kí tự</small>
                              </div>
                          </div>
</div>

                      <div class="mb-4 w-100">
                          <!-- Password input -->
                          <input type="password" class="form-control" formControlName="password"
                              aria-describedby="helpPasswordId" placeholder="Mật khẩu">
                          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                              <div *ngIf="password.errors?.['required']">
                                  <small id="helpPasswordId">Mật khẩu không được bỏ trống</small>
                              </div>
                              <div *ngIf="password.errors?.['minlength']">
                                  <small id="helpPasswordId">Mật khẩu phải từ 8 kí tự trở lên</small>
                              </div>
                          </div>
                      </div>

                      <div class="d-flex justify-content-between align-items-center">
                          <!-- Checkbox -->
                          <div class="form-check mb-0">
                              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                              <label class="form-check-label" for="form2Example3">
                                  Lưu mật khẩu
                              </label>
                          </div>
                          <a href="#!" style="text-decoration: none;" class="text-body mb-4">Quên mật khẩu?</a>
                      </div>
                      <div class="text-center text-lg-start mt-4 pt-2">
                          <button type="submit" class="btn btn-primary btn-lg"
                              style="padding-left: 2.5rem; padding-right: 2.5rem"  form="loginForm">
                              Đăng nhập
                          </button>
                          <p class="fw-bold mt-2 pt-1 mb-0">
                              Chưa có tài khoản
                              <a routerLink="/register" class="text-decoration-none">Đăng
                                  ký</a>
                          </p>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </section>
</div>
